
/**
 * @file
 * The Style Sheet
 */

* {
  margin: 0;
  padding: 0;
  -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
  -KHTML-USER-SELECT: NONE; /* KONQUEROR */
  -MOZ-USER-SELECT: NONE; /* FIREFOX */
  -MS-USER-SELECT: NONE; /* IE */
  USER-SELECT: NONE; /* CSS3 */
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#MemoryGamePlayground {
  position: relative;
  width: 640px; 
  height: 480px;
  background: #000000;
}

#MemoryGamePlayground .ButtonStyle {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #402a20;
  background-color:#eab344;
  height: 48px;
  width: 200px;
  text-align: center;
  display: block;
  border: solid 4px #402a20;
  border-radius: 48px;
  margin: 0 auto;
}

#MemoryGamePlayground .ButtonStyle:hover {
  background-color: #ffd258;
}

#MemoryGamePlayground #welcomeScreen {
  width: 100%;
  height: 100%;
}

#MemoryGamePlayground #spin {
  position: relative;
  top: 50%;
  bottom: 10px;
  margin: 0 auto;
}

#MemoryGamePlayground #ButtonStartGame, #MemoryGamePlayground #ButtonResumeGame {
  position: relative;
  top: 50%;
}

#MemoryGamePlayground #StartButtonDiv, #MemoryGamePlayground #ResumeButtonDiv { 
  position: relative;
  bottom: 24px;
  height: 100%;
}

#MemoryGamePlayground #BorderTop {
  background-color: #D27928;
  border-radius: 14px;
  position: relative;
  width: 100%;
  height: 10%;
}

#MemoryGamePlayground #PauseButtonDiv, #MemoryGamePlayground #MuteMusicButtonDiv, #MemoryGamePlayground #MuteSoundButtonDiv {
  float: left;
}

#MemoryGamePlayground #PointHUD, #MemoryGamePlayground #TimeHUD, #MemoryGamePlayground #LevelHUD {
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
  font-weight: bold; 
  font-size:150%;
  float: left;
  position: relative;
}

#MemoryGamePlayground #PointHUD, #MemoryGamePlayground #LevelHUD {
  width: 30%;
  text-align: center;
}

#MemoryGamePlayground #TimeHUD {
  width: 40%;
  text-align: center;
}

#MemoryGamePlayground #PauseButtonDiv, #MemoryGamePlayground #MuteSoundButtonDiv {
  width: 30%;
}

#MemoryGamePlayground #MuteMusicButtonDiv {
  width: 40%;
}

#MemoryGamePlayground #MessageHUD, #MemoryGamePlayground #Leveldiv, #MemoryGamePlayground #HighscoreHUD, #MemoryGamePlayground #NameEnterHUD {
	color: #ffffff; 
	text-align: center;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
	border-radius: 14px;
	padding: 30px;
	vertical-align: middle; 
	background: #D27928; 
	overflow:hidden;
  position: relative;
}

#MemoryGamePlayground #MessageHUD, #MemoryGamePlayground #NameEnterHUD {
  font-size: 200%;
  width: 50%;
  margin: 300px auto 0 auto;
}

#MemoryGamePlayground #Leveldiv {
  font-size: 400%;
}

#MemoryGamePlayground #HighscoreHUD {
  padding: 30px 0px;
  margin: 150px auto 0 auto;
  width: 30%;
}

#MemoryGamePlayground #Blureffect {
  /**
   * BLUR NO WORK
   */
  display: block;
  opacity: 0.7; 
  filter:alpha(opacity=70);
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100%;
}

#MemoryGamePlayground #TextTestDiv {
	color: #ffffff; 
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
	font-weight: bold; 
	font-size:150%;
  text-align: center;
}

#MemoryGamePlayground #inputBox {
  opacity:0;
  height: 100%;
  width: 100%;
}

#MemoryGamePlayground #HighscoreHeadline {
  padding: 0 30px;
  font-size: 200%;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  text-shadow: -4px -4px 0 #402A20, 4px -4px 0 #402A20, -4px 4px 0 #402A20,  4px 4px 0 #402A20, 
               -3px -3px 0 #402A20, 3px -3px 0 #402A20, -3px 3px 0 #402A20,  3px 3px 0 #402A20, 
               -2px -2px 0 #402A20, 2px -2px 0 #402A20, -2px 2px 0 #402A20,  2px 2px 0 #402A20, 
               -1px -1px 0 #402A20, 1px -1px 0 #402A20, -1px 1px 0 #402A20,  1px 1px 0 #402A20;
}

#MemoryGamePlayground #HighscoreFooter {
  padding: 0 30px;
  font-size: 70%;
}

#MemoryGamePlayground hr {
  color: #EAB344; 
  background-color: #EAB344; 
  height: 5px; 
  border: 0;
}

#MemoryGamePlayground #Highscore0 {
  background: #EAB344; 
  padding: 7px 30px;
  font-size: 70%;
}

#MemoryGamePlayground #Highscore1 {
  padding: 7px 30px;
  font-size: 70%;
}