/**
 * @file
 * The Style Sheet
 */

#MemoryGamePlayground {
  position: relative;
  width: 640px; 
  height: 480px;  
  background: #000000;
}

#MemoryGamePlayground * {
  margin: 0;
  padding: 0;
}

#MemoryGamePlayground .ButtonStyle {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #402a20;
  background-color:#eab344;
  height: 48px;
  width: 200px;
  text-align: center;
  display: block;
  border: solid 4px #402a20;
  border-radius: 48px;
  margin: 0 auto;
}

#MemoryGamePlayground .ButtonStyle:hover {
  background-color: #ffd258;
}

#MemoryGamePlayground #welcomeScreen {
  width: 100%;
  height: 100%;
}

#MemoryGamePlayground #spin {
  position: relative;
  top: 50%;
  bottom: 10px;
  margin: 0 auto;
}

#MemoryGamePlayground #ButtonStartGame, #MemoryGamePlayground #ButtonResumeGame {
  position: relative;
  top: 50%;
}

#MemoryGamePlayground #StartButtonDiv, #MemoryGamePlayground #ResumeButtonDiv { 
  position: relative;
  bottom: 24px;
  height: 100%;
}

#MemoryGamePlayground #BorderTop {
  background: #D27928;
  border-radius: 14px;
  height: 80px;
  position: relative;
  width: 99%;
  margin: 0.5%;
}

#MemoryGamePlayground #PauseButtonDiv, #MemoryGamePlayground #MuteMusicButtonDiv, #MemoryGamePlayground #MuteSoundButtonDiv {
  float: left;
}

#MemoryGamePlayground #PointHUD, #MemoryGamePlayground #TimeHUD, #MemoryGamePlayground #LevelHUD {
  color: #ffffff;
  font-family: verdana, sans-serif; 
  font-weight: bold; 
  font-size:150%;
  float: left;
  position: relative;
}

#MemoryGamePlayground #PointHUD, #MemoryGamePlayground #LevelHUD {
  width: 30%;
  text-align: center;
}

#MemoryGamePlayground #TimeHUD {
  width: 40%;
  text-align: center;
}

#MemoryGamePlayground #PauseButtonDiv, #MemoryGamePlayground #MuteSoundButtonDiv {
  width: 30%;
}

#MemoryGamePlayground #MuteMusicButtonDiv {
  width: 40%;
}

#MemoryGamePlayground #MessageHUD, #MemoryGamePlayground #Leveldiv, #MemoryGamePlayground #HighscoreHUD, #MemoryGamePlayground #NameEnterHUD {
	color: #ffffff; 
	text-align: center;
	font-family: verdana, sans-serif;
	border-radius: 14px;
	padding: 30px; 
	vertical-align: middle; 
	background: #D27928; 
	overflow:hidden;
  position: relative;
}

#MemoryGamePlayground #MessageHUD, #MemoryGamePlayground #NameEnterHUD {
  font-size: 200%;
}

#MemoryGamePlayground #Leveldiv {
  font-size: 400%;
}

#MemoryGamePlayground #HighscoreHUD {
  font-size: 200%;
  padding: 30px 0px;
}

#MemoryGamePlayground #Blureffect {
  display: block;
  opacity: 0.7; 
  filter:alpha(opacity=70);
  background-color: #000000;
}

#MemoryGamePlayground #TextTestDiv {
	color: #ffffff; 
	left: 400px; 
	top: 10px; 
	font-family: verdana, sans-serif; 
	font-weight: bold; 
	font-size:150%;
}

#MemoryGamePlayground #inputHUD {
}

#MemoryGamePlayground #inputBox {
  opacity:0;
}