/**
 * @file
 * The Style Sheet
 */

* {
  margin: 0;
  padding: 0;
  -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
  -KHTML-USER-SELECT: NONE; /* KONQUEROR */
  -MOZ-USER-SELECT: NONE; /* FIREFOX */
  -MS-USER-SELECT: NONE; /* IE */
  USER-SELECT: NONE; /* CSS3 */
}

.image{
  display: block;
  margin: 0 auto;
}

.Cards {
  position: absolute; 
  width: 208; 
  height: 208;
}

#BlurEffect {
  display: none;
  background-image: url('blurpic.png');
  background-repeat: repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#MemoryGamePlayground {
  position: relative;
  width: 1600px; 
  height: 900px;  
  background: #000000;
  overflow: hidden;
  background-image: url('BG.jpg');
  background-repeat:no-repeat;
}

#MemoryGamePlayground .GroupDiv {
  position: relative; 
  height: 100%; 
  width: 100%;
}

#MemoryGamePlayground #overlay {
  overflow: hidden;
}

#MemoryGamePlayground .ButtonStyle {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #402a20;
  background-color:#eab344;
  height: 48px;
  width: 200px;
  text-align: center;
  display: block;
  border: solid 4px #402a20;
  border-radius: 48px;
  margin: 0 auto;
}

#MemoryGamePlayground .ButtonStyle:hover {
  background-color: #ffd258;
}

#MemoryGamePlayground .StartResumeScreen {
  color: #ffffff; 
	text-align: center;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-size: 20px;
	border-radius: 14px;
	padding: 30px;
	vertical-align: middle; 
	background: #e21833;
	overflow:hidden;
  position: relative;
  width: 500px;
  margin: 300px auto 0 auto;
  z-index: 3;
}

#MemoryGamePlayground #spin {
  position: relative;
  top: 50%;
  bottom: 10px;
  margin: 0 auto;
}

#MemoryGamePlayground .GoToHighScore {
  margin-top: 30px;
}

#MemoryGamePlayground #BorderTop {
  background-color: #e21833;
  position: relative;
  width: 99%;
  margin: 0.5% 0.5% 0 0.5%;
  display: inline-block;
  padding: 4px 0 4px 0;
}

#MemoryGamePlayground .UIDiv {
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-weight: bold; 
  font-size: 20px;
  float: left;
  position: relative;
  vertical-align: center;
  height: 48px;
  padding: 0 0 0 45px;
}

#MemoryGamePlayground #PauseButtonDiv {
  padding: 0 0 0 15px;
}

#MemoryGamePlayground .UIDiv p {
  margin: 11.5px 0 0 0;
}

#MemoryGamePlayground #ButtonPause {
  margin: 0;
}

#MemoryGamePlayground .HUDs {
	color: #ffffff; 
	text-align: center;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
	border-radius: 14px;
	padding: 30px;
	vertical-align: middle; 
	background: #e21833; 
	overflow:hidden;
  position: relative;
  z-index: 3;
  width: 500px;
}

#MemoryGamePlayground .TextArea {
  padding: 30px 0;
  font-size: 20px;
}

#MemoryGamePlayground #MessageHUD {
  font-size: 200%;
  margin: 308.5px auto 0 auto;

}

#MemoryGamePlayground #NameEnterHUD {
  margin: 250px auto 0 auto;
}

#MemoryGamePlayground #Leveldiv {
  font-size: 400%;
  margin: 325px auto 0 auto;
}

#MemoryGamePlayground #HighscoreHUD {
  margin: 135px auto 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

#MemoryGamePlayground #inputBox {
  -WEBKIT-USER-SELECT: text;
  position: relative;
  height: 80px;
  width: 99%;
  border-radius: 48px;
  text-align: center;
  font-size: 80%;
  Border: none;
  outline: none;
}

#MemoryGamePlayground .HighscoreHeadline {
  -webkit-text-stroke: 1px black;
  font-size: 40px;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

#MemoryGamePlayground #Top10 {
  width: 100%;
  background-color: #52382c;
  font-size: 15px;
  padding: 7px 0;
  }

#MemoryGamePlayground #HighscoreFooter {
  padding: 0 30px;
}

#MemoryGamePlayground #Highscore0 { 
  padding: 7px 0 7px 30px;
  font-size: 15px;
  text-align: left;
  color: #52382c;
}

#MemoryGamePlayground #Highscore1 {
  background: #EAB344;
  padding: 7px 0 7px 30px;
  font-size: 15px;
  text-align: left;
  color: #52382c;
}

/*
 * Media Querys
 */
@media only screen and (min-width: 1px) and (max-width: 639px) {
  #MemoryGamePlayground {
    width: 320px; 
    height: 480px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  #MemoryGamePlayground {
    width: 640px; 
    height: 480px;
  }
  
  #MemoryGamePlayground .ButtonStyle {
    width: 100px;
    height: 24px;
    font-size: 10.5px;
    border-width: 2px;
  }
  
  #MemoryGamePlayground .UIDiv {
    font-size: 10px;
    height: 24px;
    padding: 0 0 0 22.5px;
  }
  
  #MemoryGamePlayground .UIDiv p {
    margin: 5.75px 0 0 0;
  }
  
  #MemoryGamePlayground .HUDs {
    width: 200px;
    padding: 15px;
  }
  
  #MemoryGamePlayground #MessageHUD {
    margin: 0px auto 0 auto;
  }

  #MemoryGamePlayground #NameEnterHUD {
    margin: 0px auto 0 auto;
  }

  #MemoryGamePlayground #Leveldiv {
    margin: 0px auto 0 auto;
  }

  #MemoryGamePlayground #HighscoreHUD {
    margin: 0px auto 0 auto;
  }
  
  #MemoryGamePlayground #Top10 {
    font-size: 15px;
  }
  
  #MemoryGamePlayground #Highscore0, #MemoryGamePlayground #Highscore1 {
    font-size: 15px;
    padding: 2px 0;
  }
  
  #MemoryGamePlayground .StartResumeScreen {
    margin: 132px auto 0 auto;
    font-size: 10px;
    width: 200px;
  }
  
  #MemoryGamePlayground .HighscoreHeadline {
    font-size: 20px;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  }
  
  #MemoryGamePlayground .TextArea {
    font-size: 10px;
    padding: 10px 0;
  }
  
  #MemoryGamePlayground #inputBox {
    height: 40px;
  }
  
  #MemoryGamePlayground #HighscoreFooter {
    padding: 0px;
    margin: 0px;
  }
  
  #MemoryGamePlayground .GoToHighScore {
    margin-top: 15px;
  }
  
  .Cards {
    position: absolute; 
    width: 208; 
    height: 208;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  #MemoryGamePlayground {
    width: 1024px; 
    height: 768px; 
  }
}



























