/**
 * @file
 * The Style Sheet
 */

* {
  margin: 0;
  padding: 0;
  -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
  -KHTML-USER-SELECT: NONE; /* KONQUEROR */
  -MOZ-USER-SELECT: NONE; /* FIREFOX */
  -MS-USER-SELECT: NONE; /* IE */
  USER-SELECT: NONE; /* CSS3 */
}

.image{
  display: block;
  margin: 0 auto;
}

#MemoryGamePlayground {
  position: relative;
  width: 1600px; 
  height: 900px;  
  background: #000000;
  overflow: hidden;
  background-image: url('BG.jpg');
  background-repeat:no-repeat;
}

#MemoryGamePlayground .GroupDiv {
  position: relative; 
  height: 100%; 
  width: 100%;
}

#MemoryGamePlayground #overlay {
  overflow: hidden;
}

#MemoryGamePlayground .ButtonStyle {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-size: 21px;
  /*
  font-size: 1.3em;
  */
  font-weight: bold;
  text-decoration: none;
  color: #402a20;
  background-color:#eab344;
  height: 48px;
  width: 200px;
  /*
  min-width: 100px;
  height: 70%;
  width: 30%;
  */
  text-align: center;
  display: block;
  border: solid 4px #402a20;
  border-radius: 48px;
  margin: 0 auto;
}

#MemoryGamePlayground .ButtonStyle:hover {
  background-color: #ffd258;
}

#MemoryGamePlayground #welcomeScreen {
  width: 100%;
  height: 100%;
}

#MemoryGamePlayground #spin {
  position: relative;
  top: 50%;
  bottom: 10px;
  margin: 0 auto;
}

#MemoryGamePlayground #ButtonStartGame, #MemoryGamePlayground #ButtonResumeGame {
  position: relative;
  top: 50%;
  height: 48px;
  width: 200px;
}

#MemoryGamePlayground #StartButtonDiv, #MemoryGamePlayground #ResumeButtonDiv { 
  position: relative;
  bottom: 24px;
  height: 100%;
}

#MemoryGamePlayground .GoToHighScore {
  margin-top: 30px;
}

#MemoryGamePlayground #BorderTop {
  background-color: #D27928;
  border-radius: 14px;
  position: relative;
  width: 99%;
  margin: 0.5% 0.5% 0 0.5%;
  display: inline-block;
  padding: 0.5% 0 0.5% 0;
  height: 15%;
}

#MemoryGamePlayground .UIButtonDiv {
  float: left;
  position: relative;
  height: 50%;
  width: 100%;
}

#MemoryGamePlayground .UIDiv {
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
  font-weight: bold; 
  font-size:150%;
  float: left;
  height: 50%;
  position: relative;
  width: 33.3%;
  text-align: center;
}

#MemoryGamePlayground #MessageHUD, #MemoryGamePlayground #Leveldiv, #MemoryGamePlayground #HighscoreHUD, #MemoryGamePlayground #NameEnterHUD {
	color: #ffffff; 
	text-align: center;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
	border-radius: 14px;
	padding: 30px;
	vertical-align: middle; 
	background: #D27928; 
	overflow:hidden;
  position: relative;
}

#MemoryGamePlayground #MessageHUD {
  font-size: 200%;
  width: 50%;
  margin: 308.5px auto 308.5px auto;

}

#MemoryGamePlayground #NameEnterHUD {
  font-size: 150%;
  width: 35%;
  margin: 250px auto 250px auto;
}

#MemoryGamePlayground #Leveldiv {
  margin: 325px auto;
  width: 50%;
  font-size: 400%;
}

#MemoryGamePlayground #HighscoreHUD {
  position: relative;
  padding: 30px 0px;
  margin: 135px auto 135px auto;
  width: 50%;
}

#MemoryGamePlayground #Blureffect {
  /**
   * BLUR NO WORK
   */
  display: block;
  opacity: 0.7; 
  filter:alpha(opacity=70);
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100%;
}

#MemoryGamePlayground #TextTestDiv {
	color: #ffffff; 
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  /*
  font-family: verdana, sans-serif; 
  */
	font-weight: bold; 
	font-size:150%;
  text-align: center;
}

#MemoryGamePlayground #inputBox {
  position: relative;
  height: 80px;
  width: 99%;
  border-radius: 48px;
  text-align: center;
  font-size: 80%;
  
}

#MemoryGamePlayground .HighscoreHeadline {
  -webkit-text-stroke: 1px black;
  padding: 0 30px;
  font-size: 50px;
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

#MemoryGamePlayground #HighscoreFooter {
  padding: 0 30px;
  font-size: 70%;
}

#MemoryGamePlayground hr {
  color: #EAB344; 
  background-color: #EAB344; 
  height: 5px; 
  border: 0;
}

#MemoryGamePlayground #Highscore0 {
  background: #EAB344; 
  padding: 7px 30px;
  font-size: 70%;
}

#MemoryGamePlayground #Highscore1 {
  padding: 7px 30px;
  font-size: 70%;
}

@media only screen and (min-width: 1px) and (max-width: 639px) {
  #MemoryGamePlayground {
    width: 320px; 
    height: 480px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  #MemoryGamePlayground {
    width: 640px; 
    height: 480px;
  }
  
  #MemoryGamePlayground #NameEnterHUD {
    font-size: 150%;
    width: 50%;
    margin: 0px auto 0px auto;
  }

  #MemoryGamePlayground #HighscoreHUD {
    position: relative;
    padding: 30px 0px;
    margin: 0px auto 0px auto;
    width: 50%;
  }
  
  #MemoryGamePlayground .HighscoreHeadline {
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    font-family: Helvetica Neue, Helvetica Arial, sans-serif;
    text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    padding: 0px;
    margin: 0px;
  }
  
  #MemoryGamePlayground #HighscoreFooter {
  padding: 0px;
  font-size: 30%;
  margin: 0px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  #MemoryGamePlayground {
    width: 1024px; 
    height: 768px; 
  }
}

@media only screen and (min-width: 1600px) {

}
